# more info about ".npmrc", see: https://docs.npmjs.com/files/npmrc

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3B8E4FC9-8289-48A6-AAF6-979D14E64AED

# we prohibit the use of Yarn
# this file together with "engines" in package.json make it impossible to install deps with Yarn
# https://docs.npmjs.com/misc/config#engine-strict
engine-strict=true
