@import '~bulma/sass/utilities/_all.sass';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-right-menu);
}

.percent {
  margin-left: 28px;
  font-family: Poppins;
  font-weight: 500;
  text-align: right;
  font-size: 32px;
  align-self: center;
}

.quote {
  margin-bottom: 30px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #595959;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  progress::-webkit-progress-bar { 
    background-color: var(--color-small-block); 
  } 

  progress::-webkit-progress-value { 
      background-color: var(--color-progress) !important; 
  } 
  /* For IE10 */ 
  progress { 
      background-color: var(--color-small-block); 
      background-color: var(--color-progress); 
  } 
/* For Firefox */ 
  progress::-moz-progress-bar { 
      background-color: var(--color-progress) !important; 
  } 
}

.hideTasksButton {
  cursor: pointer;
  color: var(--c-gray);
  svg {
    vertical-align: middle;
  }
}

.addTask {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  line-height: 21px;
  color: var(--color-text);
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid var(--color-small-block);
  background-color: var(--color-small-block);;

  &:disabled {
    color: #bdbdbd;
    background: transparent;
  }
}
