.listItem {
    .text {
        margin-left: 17.5px;
    }

    input[type="checkbox"] {
        display: none;
    }

    label {
        cursor: pointer;
        display: flex;
    }

    input + label {
        .checked {
            display: none;
        }
    }

    input:checked + label {
        .text {
            text-decoration-line: line-through;
        }
        .checked {
            display: initial;
        }
        .unchecked {
            display: none;
        }
    }
}

.checkboxes {
    padding-top: 4px;
}
