.filesTab {
  margin-left: 10px;

  li {
    &:hover {
      .icons {
        visibility: visible;
      }
    }
  }
}

.liText {
  position: relative;
  top: -5px;
}

.icons {
  * {
    cursor: pointer;
  }
  display: flex;
  flex: 1;
  justify-content: flex-end;
  visibility: hidden;
}

.upload {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin: 0 -10px;
  
  label {
    margin-top: 31px;
  }

  input {
    margin-top: 31px;
    height: fit-content;
    align-self: center;
    flex: 1;
    margin: 31px 10px 0px 10px;
  }
}

.uploadText {
  text-align: center;
  margin: 12px 0 4px 0;
  color: #8093a6;
  opacity: 0.5;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  flex: 1;
}

.browseButton {
  flex: 1;
  margin: 31px 10px 0px 10px;
}
