@use 'src/colors' as colors;

.modalContent {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;

  .header {
    color: var(--color-text);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 17px;
  }

  .label {
    font-size: 14px;
    font-family: Poppins;
    color: colors.$steel;
  }

  .uploading {
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    color: #8093a6;
  }

  .urlInput {
    margin-bottom: 28px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--steel);
    background-color: var(--color-small-block);
    border: none;
    padding: 5px;
  }

  .orBrowse {
    .or {
      margin-right: 12px;
      font-family: Poppins;
      font-size: 16px;
      line-height: 24px;
      color: #8093a6;
    }

    display: flex;
    justify-content: flex-end;
    margin-bottom: 36px;
    align-items: center;
  }

  .filePillContainer {
    margin-bottom: 36px;
  }

  .fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    flex: 1;
  }
}
