.title {
  margin-bottom: 12px;
  text-align: center;
}

.textarea {
  margin-bottom: 18px;
  height: 369px;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #595959;
}
