.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22.5px;
}

.quoteLine {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #8093a6;
}
