.tabGroup {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.genericTab {
  font-weight: normal;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #1d3557;
}

.tab:hover {
  svg {
    color: #000000;
  }
}
