@use 'src/mixins';
@import "~bulma/sass/utilities/_all.sass";

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.avatarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  align-self: center;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--steel);
}

.avatarIcon {
  width: 96px;
  height: 96px;
  background-color: var(--color-small-block);
  border-radius: 50%;
  border: 1px solid var(--steel);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarIconSize {
  width: 18px;
  height: 18px;
}

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  border-radius: 50%;

  svg {
    visibility: hidden;
  }

  &:after {
    @include mixins.spin-loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}
