.googleButtonContainer {
    margin: 20px 0;
    button {
        background: white;
        color: #8093a6;
        border: 1px solid #bdbdbd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.googleButtonText {
    margin-left: 26px;
}

.googleButtonContent {
    display: flex;
}
