@use 'src/colors' as colors;
@use 'src/mixins';

.googleButtonContainer {
  margin: 20px 0;
}

.button {
  width: 100%;
  height: 48px;
  @include mixins.useFont(14px, 21px);
  background: white;
  color: colors.$steel-blue;
  border: 1px solid colors.$silver;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
}

.googleButtonText {
  margin-left: 26px;
}

.googleButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
