@use 'src/colors' as colors;
@use 'src/variables' as variables;
@use 'src/mixins';
@import "~bulma/sass/utilities/_all.sass";

@mixin button-hover($background, $color) {
  &:hover {
    background: transparent;
    background-color: $color;
    color: $background;

    svg {
      color: $background;
    }
  }

  &.loading {
    background: $background;
    &:after {
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
    }
  }

  &.inverted {
    color: $background;
    background: transparent;

    svg {
      color: $background;
    }

    &:hover {
      background: $background;
      color: $color;

      svg {
        color: $color;
      }
    }
  }
}

.button {
  border-radius: variables.$border-radius-small;
  min-height: 32px;
  cursor: pointer;

  &.disabled {
    background-color: #BDBDBD !important;
    border-color: #BDBDBD !important;
    cursor: not-allowed;

    &:hover {
      color: #EEEEEE;
    }
  }
  &.loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;
    &:after {
      @include mixins.spin-loader;
      position: absolute;
      border-color: transparent transparent #dbdbdb #dbdbdb;
      border-width: 2px;
    }
  }
}

.buttonSmall {
  color: #eeeeee;
  border: 2px solid colors.$steel-blue;
  letter-spacing: 0.271875px;
  text-align: center;
  background: colors.$steel-blue;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  @include button-hover(colors.$steel-blue, #eeeeee);
}

.confirmButton {
  color: colors.$white;
  border: 2px solid colors.$black;
  letter-spacing: 0.271875px;
  text-align: center;
  background: colors.$black;
  border-radius: 100px;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  @include button-hover(colors.$black, colors.$white);
}

.confirmButton__middle {
  @extend .confirmButton;
  font-size: 18px;
  height: 40px;
}

.confirmButton__invert {
  @extend .confirmButton;
  color: colors.$black;
  background: colors.$white;
  @include button-hover(colors.$white, colors.$black);
}

.deleteButton {
  color: colors.$white;
  border: 2px solid rgba(230, 57, 70, 0.8);
  letter-spacing: 0.271875px;
  text-align: center;
  background: rgba(230, 57, 70, 0.8);
  border-radius: 100px;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  svg {
    margin-right: 8px;
  }

  @include button-hover(rgba(230, 57, 70, 0.8), colors.$white);
}

.defaultPadding {
  padding: 0 30px;
}

.extraBorderRadius {
  border-radius: variables.$border-radius;
}
