@import '~bulma/sass/utilities/_all.sass';

.button {
  cursor: pointer;

  &.loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;
    &:after {
      @include loader;
      position: absolute;
      border-color: transparent transparent #dbdbdb #dbdbdb;
      border-width: 2px;
    }
  }
}

.buttonSmall {
  color: white;
  border: 2px solid #3c78fb;
  border-radius: 4px;
  letter-spacing: 0.271875px;
  text-align: center;
  padding: 2px 30px;
  background: #3c78fb;
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    background: white;
    color: #3c78fb;
  }

  &.loading {
    background: #3c78fb;
    &:after {
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
    }
  }
}
