@use 'src/colors' as colors;
@use 'src/variables' as variables;
@use 'src/mixins';

$text-left-padding: 24px;
$info-padding-left: $text-left-padding + variables.$avatar-width + variables.$avatar-right-margin;
$no-avatar-margin-left: variables.$avatar-width + variables.$avatar-right-margin;
$emojis-modal-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
$emojis-modal-breakpoint: 480px;

.info {
  display: flex;
  padding-left: $info-padding-left;
  margin-bottom: 4px;
  @include mixins.useFont(12px, 18px);
  color: colors.$steel;
}

.content {
  display: flex;
}

.groupComment {
  margin-left: $no-avatar-margin-left;
}

.contentWrapper {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--color-block);
  box-shadow: variables.$card-shadow;
  @include mixins.useFont(14px, 21px);
  color: var(--color-text);

  --right-padding: 52px;
  --vertical-padding: 8px;
  padding: var(--vertical-padding) var(--right-padding) var(--vertical-padding) $text-left-padding;

  &.contentWrapperPaddingsLarge {
    --vertical-padding: 16px;
    --right-padding: 43px;
  }
  &.noPaddings {
    padding: 0;
  }

  & .optionsButton {
    position: absolute;
    right: 16px;
    margin-left: 21px;
    color: colors.$gray-4;
  }
}

.fluid {
  width: 100%;
}

.fit {
  width: fit-content;
}

.avatar {
  margin-right: variables.$avatar-right-margin;
  align-self: flex-end;
}

.lastComment {
  border-bottom-left-radius: 0;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 16px;
  padding: 0 16px;
  border-radius: 20px;
  background-color: var(--color-small-block);
}

.input {
  width: 100%;
  margin: 0 16px;
  padding: 7px 0;
  border: none;
  resize: none;
  background-color: transparent;
  min-height: 36px;
  @include mixins.useFont(14px, 21px, 400, Poppins);
  color: var(--color-text);

  &::placeholder {
    color: var(--color-comment);
    opacity: 1;
  }
}

.emojiButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  svg {
    color: var(--color-comment);
  }
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.useFont(16px, 24px);
  color: var(--color-comment);
}

.emojis {
  position: relative;
  box-shadow: $emojis-modal-box-shadow;
  --left-offset: 14px;
  --vertical-offset: -8px;

  & > section {
    border: none;
    border-radius: 8px;

    @media (max-width: $emojis-modal-breakpoint) {
      width: 100% !important;
    }
  }

  @media (max-width: $emojis-modal-breakpoint) {
    --left-offset: 90px;
  }

  .commentText {
    border: 1px solid var(--color-line);
    background-color: var(--color-small-block);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    vertical-align: top;
    width: 100%;
    padding: 5px;
    resize: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
  }

  .commentText {
    border: 1px solid var(--color-line);
    background-color: var(--color-small-block);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    vertical-align: top;
    width: 100%;
    padding: 5px;
    resize: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
  }
}

  .commentBar {
    border-radius: 0 0 4px 4px;
    background: var(--color-small-block);
    border: 1px solid var(--color-line);
    padding: 6px;
    text-align: right;
    color: var(--color-text);
    
    .isLoading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &:after {
        @include mixins.spin-loader;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        color: #4f4f4f;
        height: 20px;
        border-width: 0.25em;
      }

      * {
        visibility: hidden;
        pointer-events: none;
      }
    }

  &::before {
    --size: 19px;
    z-index: -1;
    box-shadow: $emojis-modal-box-shadow;
    position: absolute;
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    width: var(--size);
    height: var(--size);
    background: colors.$white;
  }
}

  .commentBar {
    border-radius: 0 0 4px 4px;
    background: var(--color-small-block);
    border: 1px solid var(--color-line);
    padding: 6px;
    text-align: right;
    color: var(--color-text);
    
    .isLoading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &:after {
        @include mixins.spin-loader;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        color: #4f4f4f;
        height: 20px;
        border-width: 0.25em;
      }

      * {
        visibility: hidden;
        pointer-events: none;
      }
    }

  &::before {
    --size: 19px;
    z-index: -1;
    box-shadow: $emojis-modal-box-shadow;
    position: absolute;
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    width: var(--size);
    height: var(--size);
    background: colors.$white;
  }
}

.flexColumn {
  flex-direction: column;
}

.resourceWrapper {
  width: 100%;
}
