@import "~bulma/sass/utilities/_all.sass";

.comment {
  @include tablet {
    margin: 17px 0 17px 60px;
  }

  margin: 17px 0;
  padding: 34px;
  position: relative;
  border-radius: 30px;

  &Light {
    background: #faf8f7;
  }
  &Dark {
    background: #f5f8ff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  .commentContent {
    white-space: pre-wrap;
  }

  .avatar {
    @include tablet {
      display: initial;
    }

    display: none;
    height: 72px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    left: -55px;
    top: 21px;
  }

  .commentText {
    border: 1px solid #e0e0e0;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    vertical-align: top;
    width: 100%;
    resize: none;
  }

  .commentBar {
    border-radius: 0 0 8px 8px;
    background: white;
    border: 1px solid #e0e0e0;
    padding: 6px;
    text-align: right;

    .isLoading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &:after {
        @include loader;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        color: #4f4f4f;
        height: 20px;
        border-width: 0.25em;
      }

      * {
        visibility: hidden;
        pointer-events: none;
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
