.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: initial;
  z-index: 1;
}

.modalContent {
  z-index: 2;
  position: relative;
  cursor: initial;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;

  input {
    background: #fafafa;
    margin-top: 4px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
  }

  &Inner {
    position: absolute;
    right: 0;
    text-align: left;
    background: white;
    padding: 16px;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    input {
      width: 100%;
    }

    .save {
      text-align: right;
    }
  }
}

.radioGroup {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin: 14px 0;
  font-family: Poppins;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #828282;

  .radio {
    &:first-child {
      margin-right: 10px;
    }

    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-right: 8px;
      vertical-align: bottom;
    }

    input {
      display: none;
    }

    .checked {
      display: none;
    }
    .unchecked {
      display: initial;
    }

    input:checked + span {
      .checked {
        display: initial;
      }
      .unchecked {
        display: none;
      }
    }
  }
}
