.contactPreview {
  display: flex;
  align-items: center;
  background: #fafafa;
  border-radius: 100px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  padding: 4px 16px 4px 4px;

  .title {
    font-weight: normal;
    font-size: 13px;
  }

  img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border: 1px solid #828282;
  }
}
