.contactPreview {
  display: flex;
  align-items: center;
  background: #fafafa;
  border-radius: 100px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  padding: 4px 16px 4px 4px;
  margin: 4px 0;

  .title {
    font-weight: normal;
    font-size: 13px;
  }

  img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
  }
}

.addPerson {
  text-align: right;
  margin: calc(-1.5rem + 8px) 0 8px 0;

  span {
    cursor: pointer;
    position: relative;
  }

  .addPersonModal {
    text-align: left;
    background: white;
    padding: 16px;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    input {
      width: 100%;
    }

    .save {
      text-align: right;
    }
  }
}

.radioGroup {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin: 14px 0;
  font-family: Poppins;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #828282;

  .radio {
    &:first-child {
      margin-right: 10px;
    }

    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-right: 8px;
      vertical-align: bottom;
    }

    input {
      display: none;
    }

    .checked {
      display: none;
    }
    .unchecked {
      display: initial;
    }

    input:checked + span {
      .checked {
        display: initial;
      }
      .unchecked {
        display: none;
      }
    }
  }
}
