.allUsers {
  padding: 12px;

  .section {
    margin-bottom: 30px;
  }

  button {
    margin-bottom: 20px;
  }

  h2 {
    margin: 15px 0;
    font-size: 24px;
  }

  .card {
    margin-bottom: 10px;
    max-width: 950px;
  }

  .cardContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      margin-right: 35px;
      width: 40%;
    }
  }
}
