.authPage {
  .header {
    font-family: Poppins;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 36px;
  }

  text-align: center;
  background: #faf8f7;
  height: 100vh;

  .body {
    max-width: 336px;
    margin: auto;
  }

  a {
    text-decoration: underline;
  }
}

.inputWrapper {
  position: relative;

  svg {
    position: absolute;
    top: calc(50% - 7px);
    right: 15px;
    width: 21px;
  }

  .eyeIconWrapper {
    cursor: pointer;
  }
}

.inlineInput {
  display: flex;
}

.error {
  border: 1px solid red !important;

  &::placeholder {
    color: red !important;
  }
}
