@import '~bulma/sass/utilities/_all.sass';

.hirePageEditor {
  padding: 0;
  @include tablet {
    .halfWidthControl {
      width: 80%;
    }
  }
  textarea {
    color: #8093a6;
  }

  .save {
    margin: 65px 0 193px 0;
    text-align: center;
  }

  .portfolioContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  }
}
