@import '~bulma/sass/utilities/_all.sass';

.hirePageEditor {
  margin-left: 0;
  padding: 12px;
  @include tablet {
    .halfWidthControl {
      width: 80%;
    }
  }
  textarea {
    color: #8093a6;
  }

  .save {
    margin: 65px 0 193px 0;
    text-align: center;
  }

  .portfolioContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  }
}

.saveButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 12px;
}
