@import "~bulma/sass/utilities/_all.sass";

.hire {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #8093a6;

    .upper {
        display: flex;
        max-height: 640px;
        background: white;
        justify-content: center;
        background: #f5f8ff;

        @include fullhd {
            justify-content: space-between;
        }

        .leftContainer {
            padding: 60px;
            display: none;
            text-align: center;
            width: 100%;

            .left {
                text-align: left;
                width: fit-content;
                margin: auto;
            }

            .name {
                color: #333333;
                margin-bottom: 7px;
            }

            .title {
                color: #4589aa;
                margin-bottom: 32px;
            }

            .blurbText {
                margin-bottom: 83px;
            }

            .button {
                background: #1d3557;
                border-radius: 100px;
                color: white;
                padding: 15px 30px;
                outline: none;
                border: none;
                cursor: pointer;
                font-family: Roboto, sans-serif;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .bannerImageContainer {
            overflow: hidden;

            @include desktop {
                height: 640px;
                width: 1100px;
                flex: 0 0 auto;
            }
        }

        .bannerImage {
            object-fit: cover;
            object-position: 0 0;
        }
    }

    .optionsBar {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 32px 0;
        color: #8093a6;
        font-weight: bold;

        * {
            outline: none;
            cursor: pointer;
        }

        .selected {
            color: #1d3557;
            border-bottom: 4px solid #1d3557;
            padding-bottom: 12px;
        }
    }

    .portfolioImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .portfolioImage {
            margin: 25px;

            img {
                border-radius: 40px;
                width: 300px;
                height: 300px;
            }
        }
    }

    .about {
        margin: 60px 0 150px 0;
        white-space: pre-wrap;
        padding: 20px;
    }

    .footer {
        text-align: center;
        margin-top: 78px;

        svg {
            margin: 0 25px;
            cursor: pointer;
        }

        .copyright {
            margin: 70px 0;
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #8093a6;
        }
    }

    .skeletonWrapper {
        margin: 25px;
    }
}
