.home {
  font-family: Poppins;
  overflow-x: hidden;

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-jc-sb {
    justify-content: space-between;
  }

  .flex-ai-c {
    align-items: center;
  }

  .p-30 {
    padding: 30px;
  }

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    transition: all ease .2s;
  }

  .page-header .form-wrapper {
    margin: 0 -8px;
  }

  .page-header .form-wrapper span.image-placeholder {
    position: relative;
    margin: 0 8px;
  }

  .page-header .form-wrapper span.image-placeholder.placeholder-mail:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 18px;
    background-image: url(/assets/images/first_screen/mail.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    font-family: Poppins;
  }

  .page-header .form-wrapper input {
    background: #fff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 50px 10px 15px;
    width: 276px;
    height: 40px;
    margin: 0 4px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.271875px;
    color: #828282;
    outline: none !important;
    box-shadow: none !important;
  }

  .page-header .form-wrapper button[type='submit'] {
    background: #3c78fb;
    border-radius: 4px;
    width: 192px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.271875px;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0 4px;
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
  }

  .first-screen {
    background: #ffffff;
    padding: 130px 0 0;
    position: relative;
    overflow: hidden;
  }

  .first-screen .first-screen-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .first-screen .first-screen-content .persona-image {
    width: 218px;
    height: 218px;
    background: #3c78fb;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .first-screen .first-screen-content .first-screen-title {
    font-family: Poppins;
    font-weight: 900;
    font-size: 100px;
    line-height: 75px;
    color: #3c78fb;
    margin: 24px 0;
  }

  .first-screen .first-screen-content .first-screen-subtitle {
    font-family: Poppins;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #828282;
    max-width: 640px;
    margin: 0 0 50px;
  }

  .first-screen .first-screen-content .first-screen-screenshots-wrapper {
    width: 110vw;
    display: flex;
    justify-content: center;
    background: #3c78fb;
    border-radius: 50% 50% 0 0;
    padding-top: 30px;
  }

  .first-screen .first-screen-content .first-screen-screenshots {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-height: 305px;
    padding: 35px 36px 20px;
  }

  .first-screen .first-screen-content .first-screen-screenshots .back-screenshot {
    margin: 0 15px;
  }

  .first-screen .first-screen-content .first-screen-screenshots .front-screenshot {
    margin: -45px -20px;
    z-index: 1;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
  }

  .second-screen {
    background: #0446d5;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 74px 0 0;
    position: relative;
  }

  .second-screen .second-screen-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .second-screen .second-screen-content .second-screen-title {
    font-family: Poppins;
    font-weight: 900;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    max-width: 840px;
    margin: 0 auto 15px;
  }

  .second-screen .second-screen-content .first-screen-subtitle {
    font-size: 24px;
    line-height: 33px;
    color: #e0e0e0;
    text-align: center;
  }

  .second-screen .second-screen-content .screen-tab-wrapper {
    padding: 130px 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -40px;
  }

  .second-screen .second-screen-content .screen-tab-wrapper .tab-item {
    flex-basis: 33.33%;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px 80px;
  }

  .second-screen .second-screen-content .screen-tab-wrapper .tab-item img {
    margin-bottom: 15px;
  }

  .second-screen .second-screen-content .screen-tab-wrapper .tab-item .tab-title {
    font-family: Poppins;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin: 0 0 15px;
  }

  .second-screen .second-screen-content .screen-tab-wrapper .tab-item .tab-text {
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #eee;
  }

  footer {
    padding: 48px 30px;
    background: #0446d5;
    box-shadow: inset 4px 4px 24px rgba(0, 0, 0, 0.1);

    .footer-wrapper {
      margin-top: 4px;
    }
  }

  footer .footer-social {
    margin: 0 -20px;
  }

  footer .footer-social a {
    margin: 0 20px;
  }

  footer .footer-social a img {
    max-width: 36px;
  }

  footer .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 -20px;
  }

  footer .footer-links a,
  footer .footer-links span {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.271875px;
    color: #eee;
    text-decoration: none;
    margin: 0 20px;
    transition: all 0.3s ease;
  }

  footer .footer-links:hover a {
    color: #fff;
  }

  @media (max-width: 420px) {
    .first-screen .first-screen-content .first-screen-screenshots-wrapper {
      background: #fafafa !important;
      padding-top: 0;
    }

    .first-screen .first-screen-content .first-screen-screenshots {
      padding: 0;
      max-height: 285px;
      position: relative;
      box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
      border-radius: 20px 20px 0 0;
    }

    .first-screen .first-screen-content .first-screen-screenshots:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 230px;
      background: #fff;
      bottom: 0;
    }

    .first-screen .first-screen-content .first-screen-screenshots .front-screenshot {
      max-width: 100%;
      position: relative;
      margin: 0;
    }

    .first-screen .first-screen-content .first-screen-screenshots .back-screenshot {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .page-header .form-wrapper input {
      margin: 4px 0 8px 0;
    }

    .page-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      padding: 38px 20px 15px;
      background: #fafafa;
      box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 10px 0 25px;
      }
    }

    .page-header .form-wrapper {
      margin: 25px 0 0;
      flex-direction: column;
    }

    .page-header .form-wrapper span.image-placeholder {
      position: relative;
      margin: 0 0 10px;
    }

    .page-header .form-wrapper input {
      width: 100%;
    }

    .page-header .form-wrapper button[type='submit'] {
      width: 100%;
      margin: 0;
    }

    .first-screen {
      background: #fafafa;
      padding: 265px 0 0;
      position: relative;
    }

    .first-screen .first-screen-content .first-screen-title {
      font-weight: 900;
      font-size: 33px;
      line-height: 44px;
      color: #3c78fb;
      margin: 16px 0;
    }

    .first-screen .first-screen-content .first-screen-subtitle {
      padding: 0 15px;
    }

    .second-screen {
      padding: 56px 20px 0;
    }

    .second-screen .second-screen-content .second-screen-title {
      font-size: 32px;
      line-height: 120%;
    }

    .second-screen .second-screen-content .screen-tab-wrapper {
      padding: 50px 0 0;
      margin: 0 0px;
    }

    .second-screen .second-screen-content .screen-tab-wrapper .tab-item {
      flex-basis: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0 20px 50px;
    }

    .second-screen .second-screen-content .screen-tab-wrapper .tab-item .tab-title {
      font-size: 26px;
    }

    .second-screen .second-screen-content .screen-tab-wrapper {
      :global {
        .owl-dots {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0 0 70px;
        }
      }
    }

    .second-screen .second-screen-content .screen-tab-wrapper {
      :global {
        .owl-dots .owl-dot {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin: 0 4px;
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    .second-screen .second-screen-content .screen-tab-wrapper {
      :global {
        .owl-dots .owl-dot span {
          background: #eee;
          opacity: 0.3;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          display: block;
          transition: all 0.3s ease;
        }
      }
    }

    .second-screen .second-screen-content .screen-tab-wrapper {
      :global {
        .owl-dots .owl-dot.active span {
          background: #eee;
          opacity: 1;
          width: 16px;
          height: 16px;
        }
      }
    }

    footer {
      padding: 30px;
    }

    footer .footer-wrapper {
      padding: 35px 25px 45px;
      display: flex;
      flex-direction: column;
    }

    footer .footer-wrapper .footer-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 -20px 45px;
    }

    footer .footer-wrapper .footer-links a,
    footer .footer-wrapper .footer-links span {
      margin: 0 20px 5px;
    }

    footer .footer-wrapper .footer-social img {
      max-width: 34px;
    }
  }

  @media (max-width: 1090px) {
    .first-screen .first-screen-content .first-screen-screenshots-wrapper {
      width: max-content;
      display: flex;
      justify-content: center;
      background: #3c78fb;
      border-radius: 50% 50% 0 0;
    }
  }

  @-webkit-keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-moz-keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  #clouds {
    padding: 100px 0;
    position: absolute;
    top: 0;

    img {
      max-width: unset;
    }
  }
  /*Time to animate*/
  .x1 {
    animation: movecloudsone 30s linear infinite;
    -webkit-animation: movecloudsone 30s linear infinite;
    -moz-animation: movecloudsone 30s linear infinite;
    -o-animation: movecloudsone 30s linear infinite;
  }
  /*variable speed, opacity, and position of clouds for realistic effect*/
  .x2 {
    margin-top: -100px;
    margin-left: -150px;

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    animation: movecloudstwo 50s linear infinite;
    -webkit-animation: movecloudstwo 50s linear infinite;
    -moz-animation: movecloudstwo 50s linear infinite;
    -o-animation: movecloudstwo 50s linear infinite;
  }
  .x3 {
    margin-top: 150px;
    margin-left: -150px;

    animation: movecloudsthree 40s linear infinite;
    -webkit-animation: movecloudsthree 40s linear infinite;
    -moz-animation: movecloudsthree 40s linear infinite;
    -o-animation: movecloudsthree 40s linear infinite;
  }
  @keyframes movecloudsone {
    0% {
      margin-left: 350px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-webkit-keyframes movecloudsone {
    0% {
      margin-left: 350px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-moz-keyframes movecloudsone {
    0% {
      margin-left: 350px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-o-keyframes movecloudsone {
    0% {
      margin-left: 350px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @keyframes movecloudstwo {
    0% {
      margin-left: 50px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-webkit-keyframes movecloudstwo {
    0% {
      margin-left: 50px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-moz-keyframes movecloudstwo {
    0% {
      margin-left: 50px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-o-keyframes movecloudstwo {
    0% {
      margin-left: 50px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @keyframes movecloudsthree {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-webkit-keyframes movecloudsthree {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-moz-keyframes movecloudsthree {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 100vw;
    }
  }
  @-o-keyframes movecloudsthree {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 100vw;
    }
  }

  :global {
    .formkit-form[data-uid='68cf1471b7'][min-width~='700'] [data-style='clean'],
    .formkit-form[data-uid='68cf1471b7'][min-width~='800'] [data-style='clean'] {
      padding: 0 !important;
    }

    .formkit-input {
      margin: 0 !important;
      padding-right: 10px !important;
      width: 100% !important;
    }
    .formkit-form {
      .formkit-submit {
        font-family: Arial, Arial, Helvetica, sans-serif !important;
      }
    }
  }
}
