@import '~bulma/sass/utilities/_all.sass';

.home {
  background: #ffffff;
  font-family: Poppins;
  font-weight: normal;
  color: #595959;

  .upperContainer {
    min-height: calc(100vh - 178px);
    display: flex;
    flex-direction: column;
  }

  .ctaButton {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.271875px;
    align-self: center;
    padding: 15px 20px;
    margin: 0 15px;
    background: #3c78fb;
    color: white;
    border: none;

    &:hover {
    }
  }

  .navbar {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    @include tablet {
      align-items: flex-start;
      flex-direction: row;
    }

    .logo {
      display: flex;
      align-items: center;
      font-family: Roboto;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.25px;
      margin: 0 20px;

      svg {
        margin-right: 20px;
      }

      @include desktop {
        margin: 0;
      }
    }

    .rightNav {
      margin: 0 auto 60px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        display: block;
        margin: initial;
      }
    }
  }

  .navItem {
    color: #595959;
    margin: 15px 10px;
    font-size: 16px;
    letter-spacing: 0.25px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .headerAndBody {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 38px;
    }
  }

  .header {
    font-weight: 500;
    font-size: 52px;
    line-height: 58px;
    font-family: Poppins;
    text-align: center;
    color: black;

    @include desktop {
      font-size: 100px;
      line-height: 100px;
    }
  }

  .body {
    font-size: 24px;
    line-height: 36px;
    margin: 72px auto;
    max-width: 636px;
  }

  .ctas {
    text-align: center;
  }

  .highlight {
    text-align: center;
    padding: 60px 15px;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    border: 1px solid black;
  }

  .freelancersWrapper {
    margin-bottom: 116px;
  }

  .freelancers {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
    display: grid;
    justify-content: space-between;

    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }

    .freelancerTypeContainer {
      border: 1px solid black;
      padding: 33px;
      text-align: center;

      @media only screen and (max-width: 1215px) {
        &__desktop {
          display: none;
        }
      }

      @media only screen and (max-width: 1407px) {
        &__desktopLarge {
          display: none;
        }
      }

      @media only screen and (max-width: 684px) {
        &__tablet {
          display: none;
        }
      }

      @media only screen and (max-width: 879px) {
        &__tabletLarge {
          display: none;
        }
      }
    }

    img {
      justify-self: center;
    }
  }

  .imageColumnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .textColumnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .textColumn {
    @include desktop {
      max-height: 510px;
      max-width: 482px;
    }

    padding: 32px;
    border: 2px solid #eeeeee;
  }

  .rightColumnHeader {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
    font-family: Roboto;
    color: #000000;
  }

  .rightColumnBody {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 39px;
  }

  .upperLayoverHeader {
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin-bottom: 12px;
  }

  .upperLayoverSubHeader {
    font-family: Roboto;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 112px;
  }

  .featureGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: space-between;
    border: 1px solid #eeeeee;

    .gridItem {
      font-family: Poppins;
      font-weight: normal;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      padding: 32px;
      border: 1px solid #eeeeee;

      .gridItemHeader {
        font-family: Roboto;
        font-weight: 500;
        font-size: 28px;
        color: #000000;
        line-height: 33px;
        margin-bottom: 5px;
      }
    }
  }

  .feature {
    margin: 240px 0;
  }
}
