.projects {
  max-width: 792px;

  a {
    color: inherit;
  }

  .projectName {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1d3557;
  }

  @import '~bulma/sass/utilities/_all.sass';

  .comment {
    background: white;
    &:first-child {
      margin-top: 0;
    }

    margin: 8px 0;
    padding: 16px;
    border-radius: 8px;

    .header {
      font-family: Poppins;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #828282;
    }

    .commentContent {
      white-space: pre-wrap;
      word-break: break-word;
      font-family: Roboto;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #1d3557;
    }
  }
}

.headerWidth {
  max-width: 832px;
}
