@use "src/mixins";
@import "~bulma/sass/utilities/_all.sass";

.hideMobile {
  @include mobile {
    display: none;
  }
}

.hideTablet {
  @include tablet {
    display: none;
  }
}

.projectProgressHeader {
  @include mixins.header-1-sm;
  text-align: center;
  color: #3c78fb;
  border-bottom: 4px solid #3c78fb;
  padding-bottom: 17px;
  margin-bottom: 17px;
}

.leftColumn {
  @include tablet {
    min-width: 500px;
  }
}

.rightColumn {
  @include tablet {
    max-width: 378px;
  }
}

.commentWrapper {
  padding-top: 16px;
  padding-left: 0;
  margin-bottom: 60px;
}

.filters {
  display: flex;
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  padding: 11px 0 0 0px;
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
  z-index: 1;

  @include mobile {
    padding-left: 12px;
    margin: -12px -12px 0;
  }

  @include tablet {
    padding-left: 24px;
    margin: -1px -12px 0 -24px;
  }

  .filter {
    padding-bottom: 11px;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    margin-right: 25px;

    &:hover {
      color: black;
    }
  }

  .activeFilter {
    border-bottom: 3px solid black;
    padding-bottom: 8px;
    color: black;
  }
}

.desktopColumns {
  flex-wrap: wrap;
}

.center {
  margin: auto;
}
