@use "src/mixins";
@import "~bulma/sass/utilities/_all.sass";

.page {
    background: #d8d8d8;

    .body {
        border-radius: 40px;
        margin-bottom: 75px !important; // bulma container class override

        .columns {
            .column {
                padding: 0px;
            }

            background: white;

            @include desktop {
                border-radius: 40px;
            }

            .container {
                padding: 30px;
            }

            .leftColumn {
                box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.projectProgressHeader {
    @include mixins.header-1-sm;
    text-align: center;
    color: #3c78fb;
    border-bottom: 4px solid #3c78fb;
    padding-bottom: 17px;
    margin-bottom: 17px;
}
