@use 'src/colors' as colors;
@use 'src/mixins';

.forgotPassword {
  text-align: left;
  margin-bottom: 18px;
}

.container {
  text-align: center;
  background: colors.$white;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 30px;

  .body {
    max-width: 288px;
    margin: auto;
  }

  a {
    text-decoration: underline;
  }
}

.title {
  @include mixins.useFont(24px, 37px, 600, Poppins);
  color: colors.$black;
  margin-bottom: 36px;
}

.signInButton {
  width: 100%;
  height: 45px;
  background: linear-gradient(285.44deg, #5421CE 4%, #A000EC 101.17%);
  color: colors.$white;
  border-radius: 100px;
  @include mixins.useFont(14px, 21px);
  margin-bottom: 24px;
}

.optionsDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.divider {
  width: 130px;
  height: 0.5px;
  background-color: colors.$silver;
}

.optionText {
  @include mixins.useFont(12px, 18px);
  color: colors.$steel;
  margin: 0 6px;
}

.inputWrapper {
  position: relative;
  text-align: left;
  margin-bottom: 19px;
  svg {
    position: absolute;
    top: calc(50% + 5px);
    right: 15px;
    width: 21px;
  }
  .eyeIconWrapper {
    cursor: pointer;
  }
}

.labelInput {
  display: block;
  @include mixins.useFont(14px, 21px, 300);
  color: colors.$black;
  margin-bottom: 7px;
}
