@use 'src/variables' as variables;
@use 'src/colors' as colors;
@use "src/mixins";
@import '~bulma/sass/utilities/_all.sass';

.headerWrapper {
  box-sizing: border-box;
  background: colors.$white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: variables.$header-border-bottom-height solid var(--color-line);
  z-index: 3;
  background-color: var(--color-background);
  color: var(--color-text);
}

.levelingMargin {
  margin: -12px -12px 0 -12px;
}

.header {
  height: variables.$header-height;
  display: flex;
  align-items: center;
  position: relative;
}

.nav {
  padding: 12px;
}

.avatarWrapper {
  padding-left: 27px;
}

.button {
  position: absolute;
  right: 20%;
  @media (max-width: 1100px) {
    right: 50px;
  }
}

.arrow {
  cursor: pointer;
  margin-right: 40px;
  fill: var(--steel);
  transition: transform 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.arrowCollapsed {
  margin-left: 13px;
  transform: rotate(180deg);
}

.arrowExpanded {
  margin-left: 174px;
}
