@import '~bulma/sass/utilities/_all.sass';

.headerWrapper {
  margin: -12px -12px 0 -12px;
  background: #FAFAFA;
  border-bottom: 1px solid #E0E0E0;
}
.header {
  max-width: 832px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  padding: 24px 24px 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #3c78fb;
    &:hover {
      text-decoration: underline;
      color: #3c78fb;
    }
  }
}

.nav {
  padding: 12px;
}
