.addQuoteModal {
  text-align: right;
}
.modalContent {
  border: 1px solid #3c78fb;
  border-radius: 4px;
  margin: -16px;
  font-family: Poppins;
  font-weight: normal;
  .header {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    background: #3c78fb;
    border-radius: 4px 4px 0px 0px;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }

  .body {
    font-weight: 300;
    padding: 24px;
    font-size: 16px;
    line-height: 24px;

    .tasks {
      .task {
        border-bottom: 1px solid #bdbdbd;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        font-weight: 300;
        color: #000000;
        align-items: center;

        .deleteTask {
          cursor: pointer;

          svg {
            vertical-align: middle;
          }
        }
      }

      .newTaskInput {
        margin: 16px 0 10px 0;
      }
    }

    .radioText {
      color: #595959;
      font-family: Poppins;
      font-size: 16px;
      line-height: 24px;

      &Wrap {
        white-space: normal;
      }
    }

    .save {
      text-align: right;
    }
  }
}

.inlineInput {
  border: none !important;
  border-bottom: 1px solid #3c78fb !important;
  width: 60px !important;
  border-radius: 0 !important;
  background: transparent !important;
  margin: 0 !important;
  height: 100% !important;
  color: #3c78fb;
  font-size: 16px;
}
