.createAPassword {
    text-align: center;
    background: #f5f8ff;
    padding: 45px 37px;

    input {
        width: 100%;
        padding: 16px;
        margin-bottom: 18px;
        border: 1px solid #c1cdd9;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
    }
}

.header {
    font-family: Rubik;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.61539px;
    margin: 14px 0 42px 0;
}

.buttonContainer {
    margin-top: 13px;
}
