@import "~bulma/sass/utilities/_all.sass";

.footer {
  background: #333333;
  display: flex;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #eeeeee;
  letter-spacing: 0.271875px;
  padding: 61px 48px;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }

  .left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;

    > * {
      margin-bottom: 25px;
    }

    @include desktop {
      margin: initial;
      text-align: left;
      flex-direction: row;

      > * {
        margin-right: 25px;
        margin-bottom: 0;
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    margin: auto;
    @include desktop {
      margin: initial;
    }

    > * {
      &:not(:first-child) {
        margin-left: 44px;
      }
    }

    path {
      fill: white;
      stroke: white;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
