@import "~bulma/sass/utilities/_all.sass";

.footer {
  background: #333333;
  display: flex;
  font-family: Roboto;
  font-weight: normal;
  color: #eeeeee;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.27175px;
  padding: 34px 24px 48px 24px;
  justify-content: space-between;
  flex-direction: column;

  @include tablet {
    padding: 61px 48px;
    font-size: 18px;
    line-height: 21px;
  }

  @include desktop {
    align-items: center;
    flex-direction: row;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;

    @include desktop {
      margin: initial;
      text-align: left;
      flex-direction: row;

      > * {
        margin-right: 25px;
        margin-bottom: 0;
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    margin: auto;
    @include desktop {
      margin: initial;
    }

    > * {
      &:not(:first-child) {
        margin-left: 44px;
      }
    }

    path {
      fill: white;
      stroke: white;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
