@import '~bulma/sass/utilities/_all.sass';

.footer {
  background: #333333;
  margin-top: 100px;

  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: white;
    padding: 42px 0;
    justify-content: center;
    text-align: center;

    & > * {
      margin: 0 20px;
    }

    a {
      color: inherit;
    }

    @include tablet {
      justify-content: initial;
      text-align: initial;
    }
  }
}
