$c-gray: #595959;
$fa-gray: #FAFAFA;
$gray-1: #333333;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$steel-blue: #3C78FB;
$prussian-blue: #1D3557;
$black: #000000;
$white: #FFFFFF;
$dark-blue: #5421CE;
$purple: #A000EC;
$silver: #E4E3E8;
$background-silver: #F0F0F1;
$bg-silver: #F4F4F6;
$steel: #A4A2AE;
$light-mode-1: #D7D6D5;
$light-mode-2: #D7D6D5;
$light-mode-3: #E4E4E4;
$dark-mode-1: #484A4A;
$dark-mode-2: #28292A;
$dark-mode-3: #1B1B1B;
$invalid-red: rgba(230, 57, 70, 0.8);
$soft-blue: #F5F8FF;
