$header-min-height: 76px;
$modal-pill-vertical-margin: 4px;

$border-radius: 8px;
$border-radius-small: 4px;

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1180px;
$breakpoint-xxl: 1400px;
