@use "src/mixins";
@import "~bulma/sass/utilities/_all.sass";

.page {
  background: #eeeeee;
  min-height: 100vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  .navColumn {
    margin-bottom: 0;
  }

  .pageContent {
    @include mobile {
      overflow-x: hidden;
    }

    @include tablet {
      padding-left: 16px;
    }
  }
}

.hidden {
  display: none;
}

.columnWrap {
  flex-wrap: wrap;
}

.desktopNav {
  width: 276px;
  border-right: 1px solid #e0e0e0;
}

.noPadding {
  padding: 0;
}
