@use "src/mixins";
@import '~bulma/sass/utilities/_all.sass';

.page {
  background: #eeeeee;
  min-height: 100vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  .navColumn {
    margin-bottom: 0;
  }

  .pageContent {
    @include tablet {
      padding-left: 20px;
    }

    margin: initial;
  }
}

.hidden {
  display: none;
}

.columnWrap {
  flex-wrap: wrap;
}

.nav {
  min-height: 100vh;
  background: #eeeeee;
  color: #bdbdbd;
  border-right: 1px solid #e0e0e0;

  a {
    color: #bdbdbd;
  }

  ul {
    li {
      border-radius: 100px;
      &:hover {
        background: #464646;
      }
    }

    a {
      color: #bdbdbd;
      padding: 6px 10px;
      width: 100%;
    }

    .current {
      background: #464646;
    }
  }

  font-weight: normal;

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
    align-items: center;
  }

  .avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #eeeeee;
  }

  .closeNav {
    cursor: pointer;
  }
}

.desktopNav {
  width: 250px;
}
