@import '~bulma/sass/utilities/_all.sass';

.nav {
  padding: 2px;
  min-height: calc(100vh - 24px);
  background: #eeeeee;
  color: #000000;

  a {
    color: #000000;
  }

  ul {
    li {
      border-radius: 100px;
      &:hover {
        background: #ffffff;
      }
    }

    a {
      color: #000000;
      padding: 6px 10px;
      width: 100%;
    }

    .current {
      background: #ffffff;
    }
  }

  font-weight: normal;

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
    align-items: center;
  }

  .avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #eeeeee;
  }

  .closeNav {
    cursor: pointer;
  }
}

.desktopNav {
  width: 250px;
}
