@use 'src/colors' as colors;

.settings {
  max-width: 668px;
  width: 100%;
  background-color: var(--color-block);

  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--steel);
  border-radius: 20px;

  label {
    font-size: 14px;
  }

  textarea {
    background: var(--color-small-block);
    border: 1px solid var(--color-small-block);
    resize: none;
    margin-top: 4px;
    color: var(--color-text);
  }

  input {
    background: var(--color-small-block);
    margin-top: 4px;
    border: 1px solid var(--color-small-block);
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    color: var(--color-text);
  }

  .header {
    color: var(--color-text);
    font-weight: 500;
    border-bottom: 1px solid var(--color-line);
  }

  .body {
    padding: 0;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px;
      border-right: 1px solid;
      border-color: #EEEEEE;
      svg {
        margin-right: 10px;
      }
      .current {
        color: #ffffff;
        background: #3c78fb;
      }

      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-width: 152px;
        margin-bottom: 12px;
      }
      .buttons_container {
        width: 100%;
      }
    }
    .right {
      padding: 16px;
      color: #000000;
      font-weight: 300;

      .paymentButton {
        margin-top: 22px;
      }

      .profileSettingsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;

        .avatarContainer {
          margin-right: 22px;
        }

        .buttonsBlock {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 8px;

          button {
            margin-top: 73px;

            @media (max-width: 768px) {
              margin-top: 12px;
            }
          }

        }
        .saveButton {
          margin-top: 17px;
          margin-left: auto;
          display: flex;
          align-self: flex-end;
          align-items: center;
        }


        .inputsContainer {
          flex-grow: 1;

          .inputWrapper {
            margin-bottom: 8px;

            .label {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: colors.$steel;
            }
          }

          .textarea {
            height: 96px;
            font-family: Arial;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .stripeStatus {
    border-radius: 4px;
    letter-spacing: 0.271875px;
    text-align: center;
    padding: 2px 10px;
    display: inline-block;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 22px;

    &.white {
      color: #828282;
      border: 2px solid #828282;
      background: #ffffff;
    }

    &.green {
      color: #eeeeee;
      border: 2px solid #6fcf97;
      background: #6fcf97;
    }

    &.red {
      color: #eeeeee;
      border: 2px solid rgba(230, 57, 70, 0.8);
      background: rgba(230, 57, 70, 0.8);
    }

    &.yellow {
      color: #828282;
      border: 2px solid #FDFECA;
      background: #FDFECA;
    }
  }
}

.buttonResetStyle {
  outline: 0;
}

.connect {
  color: var(--color-text);
}

